# # **Условие 1:**
 ### Оформляйте ноутбук, используя эти советы:
- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код

## **Условие 2:**
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [44]:
def all_fruits (**kwargs):
    sum_fruits = sum(kwargs.values())
    return f'Quantity_fruits: {sum_fruits}'

In [45]:
print(print(all_fruits(Orange=15, Pineapple= 52, Apple= 18)))

Quantity_fruits: 85
None

## Условие 3:
### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
- [100, 125, -90, 345, 655, -1, 0, 200]
- Используйте list comprehensions

In [59]:
cost_advertising = [100, 125, -90, 345, 655, -1, 0, 200]
print([i for i in cost_advertising if i > 0])

[100, 125, 345, 655, 200]

In [60]:
print(f'sum_cost: {sum(i for i in cost_advertising if i > 0)}')

sum_cost: 1425

## Условие 4.1:
### Даны два списка.
- Дата покупки
- ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', - '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', - '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', - '2021-12-13', '2021-10-26', '2021-12-09']
- Суммы покупок по датам
- [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, - - 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
### 4.1 Найдите, какая выручка у компании в ноябре
- Используйте list comprehensions
### 4.2 Найдите выручку компании в зависимости от месяца
- Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
- Используйте аннотирование типов.

##### 4.1 Найдите, какая выручка у компании в ноябре

In [64]:

date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09',
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
        '2021-10-26', '2021-12-09']

In [65]:
purchase = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723,
            3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971,
            6592, 2004, 2822, - - 519, 3406, 2732, 5015, 2008, 316,
            6333, 5700, 2887]

In [66]:
def november(data1: list, data2: list) -> list:
    
    new_data = []
    
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data.append(data2[i])
            
    return new_data

In [68]:
print(november(date, purchase))
print(f'Revenue: {sum(november(date, purchase))}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Profit: 25098

In [69]:
print([purchase[i] for i in range(0, len(date)-1) if "-11" in date[i]])
print(f'Revenue: {sum([purchase[i] for i in range(len(date)-1) if "-11" in date[i]])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Revenue: 25098